name: CI/CD Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Rust
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: stable
    
    - name: Add the WebAssembly target
      run: rustup target add wasm32-wasi

    - name: Install lunatic
      run: cargo install lunatic-runtime

    - name: Verify lunatic installation
      run: lunatic --version

    - name: Build the app
      run: cargo build --release --target=wasm32-wasi

    - name: Run wasm tests
      run: |
        for file in target/wasm32-wasi/debug/deps/*.wasm; do
          lunatic run "$file"
        done

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build and push Docker image
      run: |
        docker build -t safidyrh21/mqtt_broker:${{ github.sha }} .
        docker push safidyrh21/mqtt_broker:${{ github.sha }}
        docker build -t safidyrh21/nginx:${{ github.sha }} -f nginx/Dockerfile nginx/
        docker push safidyrh21/nginx:${{ github.sha }}

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up kubectl
      uses: azure/setup-kubectl@v1
      with:
        version: 'v1.18.0'

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/rust-mqtt-broker-deployment.yml
        kubectl apply -f k8s/rust-mqtt-broker-service.yml
        kubectl apply -f k8s/nginx-deployment.yml
        kubectl apply -f k8s/nginx-service.yml